body {
	
	background-position: top;
	background-color: black;
}

main {
	position: relative;
}

.start {
	color: #CFFFB3;
	font-style: italic;
	
}

.end {
	color: #D499B9;
	font-size: 300px;
}

.gameboard {
	background-color: black;
	padding-top: 15px;
	width: 440px;
	height:440px;
	border-radius:20px;
	position: absolute;
	
}

.roundcounter {
	height: 100px;
	width: 200px;
}
.square {
	width: 200px;
	height: 200px;
	float: left;
	margin-color: white;
	margin: 2px;

}

.down {
	opacity: .4;
}

.up {
	opacity: .75;
}

.red {
	background-color: red;
	border-top-left-radius: 30px;
}

.blue {
	background-color: blue;
	border-top-right-radius: 30px;
}

.yellow {
	background-color: yellow;
	border-bottom-right-radius: 30px;
}

.green {
	background-color: green;
	border-bottom-left-radius: 30px;
}